
*.mp4
currency dashboard/iot-project.zip
currency dashboard/iot-project/dist/style.css
currency dashboard/iot-project/dist/index.html
currency dashboard/iot-project/license.txt
currency dashboard/iot-project/README.markdown
report.docx
PRESENTATION.pptx
nodemcu software workflow.docx
Input window1.JPG
flows_YOMALI_cred.json
flows_YOMALI.json
flows.json
currency dashboard/style.css
currency dashboard/iot-project/src/index.html
